{# templates/home/home.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Todo list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Date de début</th>
                <th>Durée</th>
            </tr>
        </thead>

        <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.description }}</td>
                    <td>
                        {% if todo.category is same as(null) %}
                            Non défini
                        {% else %}
                            {{ todo.category.label }}
                        {% endif %}
                    </td>
                    <td>{{ todo.beginDate | date('d-m-Y')}}</td>
                    <td>{{ todo.duration }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ addUri }}">Ajouter</a>
{% endblock %}