{# templates/home/home.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Todo list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Date de début</th>
                <th>Durée</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.description }}</td>
                    <td>
                        {% if todo.category is same as(null) %}
                            Non défini
                        {% else %}
                            {{ todo.category.label }}
                        {% endif %}
                    </td>
                    <td>{{ todo.beginDate | date('d-m-Y')}}</td>
                    <td>{{ todo.duration }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="todoMenu-{{ todo.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="todoMenu-{{ todo.id }}">
                                <li>
                                    <a class="dropdown-item" href="{{ path('todo-update', {id: todo.id}) }}">Modifier</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('todo-delete', {id: todo.id}) }}">Supprimer</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ addUri }}" class="btn btn-primary" role="button">Ajouter</a>
{% endblock %}